#Node.js/React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

#System
AppData/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

#python
__pycache__/
*.pyo 
*.pyc 
*.pyd 

#Django
*.sqlite3
.env
staticfiles/
media/
.venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Docker/Git
.git

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*