# GitHub Actions Runner
.runner/
_work/
bin/
externals/
config.sh
env.sh
run.sh
svc.sh
safe_sleep.sh
run-helper.sh
run-helper.sh.template
run-helper.cmd.template
actions-runner-linux-x64-*.tar.gz

# Credentials
.credentials
.path

#nodes.js/React
node_modules/
build/
dist/

#System
AppData/
*.log 
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyo
*.pyc 
*.pyd 

#Django
*.sqlite3
.env
staticfiles/
media/
.venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Git
.git

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*