#System
AppData/
*.log 
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyo
*.pyc 
*.pyd 

#Django
*.sqlite3
.env
staticfiles/
media/
.venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Git
.git

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*