services:
  db:
    env_file:
      - .env
    image: postgres:15
    container_name: postgres
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    env_file:
      - .env
    build: ./backend
    container_name: Django-backend
    restart: always
    environment:
      VIRTUAL_HOST: api.localhost
      VIRTUAL_PORT: 8000
    volumes:
      - ./backend:/app
    depends_on:
      - db
        
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    environment:
      VIRTUAL_HOST: frontend.localhost
      VIRTUAL_PORT: 80
    depends_on:
      - backend
    networks:
      - app-network

  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    restart: always
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
  
  acme-companion:
    env_file:
      - .env
    image: nginxproxy/acme-companion
    container_name: acme-companion
    restart: always
    volumes: 
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/tmp/docker.sock:ro
    depends_on:
      - nginx-proxy
    networks:
      - app-network

volumes:
  db_data:
  certs:
  vhost:
  html:
  acme:

networks:
  app-network:
    driver: bridge    
