name: CI/CD Pipeline
on:
  push:
    branches: ["master"]
jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3 

      - name: kind create cluster
        run: |
          kind create cluster --name todo-cluster --config kind-config.yaml
          kubectl cluster-info --context kind-todo-cluster
          kubectl get nodes

      - name: Build docker images
        run: |
          docker build -t todo-app-backend:latest ./backend
          docker build -t todo-app-frontend:latest ./frontend

      - name:  Load docker-image to kind
        run: |
          kind load docker-image todo-app-backend:latest --name todo-cluster
          kind load docker-image todo-app-frontend:latest --name todo-cluster

      - name: Deploy kubernetes
        run: |
          kubectl apply -f k8s/
      
      - name: Debug pods
        run: |
          kubectl get pods --show-labels
          kubectl get svc

      
      - name: Wait for Postgres 
        run: | 
          kubectl rollout status deployment postgres-deployment --timeout=180s
      
      - name: wait for backend
        run: |
          kubectl rollout status deployment backend-deployment --timeout=180s

      - name: Django migrate
        run: |
          kubectl exec deploy/backend-deployment -c backend -- python manage.py migrate
          
      - name: Django collectstatic
        run: |
          kubectl exec deploy/backend-deployment -c backend -- python manage.py collectstatic --noinput
      